<h2>About</h2>


<div class="sites">

    <div class="our-sites">  Our names: Gil Rotem And Sapir Shkedi.</div><br><br>

    <div class="our-sites"> Gil's first assignment web site: <a href="https://gilxd931.github.io/">Gil's Site</a></div>
    <div class="our-sites"> Sapir's first assignment web site: <a href="https://shkedisa.000webhostapp.com">Sapir's Site</a></div>
    <div class="our-sites"> Our shared site from the second "Pacman" assignment: <a href=" https://shkedisa.github.io/">Pacman Site</a></div>

    <br><br>
    <div class="our-sites">Our difficulties during the task was mainly the adjustment to AngularJS, we used to work only with Javascript, html5 and css before, but we found it much better when we used to it </div>

</div>